@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");

:root {
  --primary-color: #6b7280;
  --gray-color: #6b7280;
  --light-gray: #f3f4f6;
  --yellow-color: #fcd34d;
}

body {
  font-family: "Lora", serif;
  margin: 20px;
}

hr {
  margin: 3rem 0rem;
}

.container-fluid {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

.links {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-one {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}

.link-two {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

.non-bullet {
  list-style: none;
}

.list-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.navigation {
  background-color: var(--yellow-color);
  color: black;
  padding: 2rem;
  border-bottom-left-radius: 2rem;
}

/* .navigation .nav-brand {
    font-weight: bold; */
/* } */

.nav-list {
  text-align: right;
}

/* .navigation .nav-pills {
    
} */

.navigation .link-active {
  font-weight: bold;
}

.hero {
  padding: 2rem;
}

.hero-p {
  text-align: center;
}
.hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
}

.hero-heading {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.5rem;
  color: var(--gray-color);
}

.section {
  text-align: center;
  padding: 2rem;
  background-color: #fffbeb;
}

.section h3 {
  text-align: center;
  padding: 2rem;
  background-color: #fffbeb;
}

.section-content {
  text-align: center;
}
/* .section-content {
    background-color: whitesmoke; */

/* } */

.button-b {
  border: 2px solid var(--yellow-color);
  color: black;
  padding: 8px 18px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border-radius: 6px;
  background-color: #fffbeb;
  margin: 10px;
}

.center {
  text-align: center;
}
.footer {
  background-color: var(--yellow-color);
  padding: 2rem 1rem;
  text-align: center;
  margin-top: 20px;
}

.footer .footer-header {
  text-align: center;
  /* background-color: var(--yellow-color); */
}
.footer .links {
  color: black;
  font-weight: bold;
  /* background-color: var(--yellow-color); */
}

.footer .list-inline {
  padding-inline-start: 0px;
  display: inline;
}
